/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
public/documents/6qMu2cwHzexxduQhwbggtNz3Wb5EpCrzZx5FYqlu.pdf
/public/profile_images
/public/reclamations
/public/documents
